@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); /* 起始和结束位置 */
  }
  50% {
    transform: translateY(-10px); /* 中间向上移动 10px */
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite; /* 无限循环动画，周期为 2.7 秒 */
}

/* 适用于 Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* 使滚动条更细 */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 轨道透明 */
}

::-webkit-scrollbar-thumb {
  background: #647ec0; /* 滚动条颜色 */
  border-radius: 3px; /* 圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #39549c; /* 悬浮时颜色变暗 */
}